  ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
}

.navigationList li a {
  display: flex;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.navigationList li {
  text-align: center;
  border-bottom: 1px solid #555;
}

.navigationList li:last-child {
  border-bottom: none;
}

.navigationList li a.active {
  background-color: #4CAF50;
  color: white;
}

.navigationList li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.mainReceiver{
/* background-color: #4CAF50; */
/* width: 20%; */
display: flex;
/* float: left; */
}